<div class="login" ng-show="!ac.logedIn">
	<div class="login-panel">
		<div class="logo-wrapper">
			<h4>
				Nical
			</h4>
		</div>

		<form ng-submit="ac.login()" name="form">
			<div class="input-group input-group-lg">
				<input
					name="user"
					type="text"
					class="form-control"
					ng-model="ac.user.usuario"
					placeholder="Usuario"
					ng-required="required">
			</div>
			<div class="input-group input-group-lg">
				<input
					name="password"
					type="password"
					class="form-control"
					ng-model="ac.user.password"
					placeholder="Password"
					ng-required="required">
			</div>
			<div class="alert alert-danger" role="alert" ng-show="ac.loginError.active">
				{{ac.loginError.message}}
			</div>
			<button type="submit" class="btn btn-primary cb-back-primary cb-bold">Ingresar</button>
		<form>
	</div>
</div>
