<div class="producto">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-3">
					<div>
						<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modificar_tienda" ng-click="tc.setCurrentProducto({})">
							Nueva Tienda
						</button>
					</div>
					<div>
						<label for="busquedaPorCodigo">Busqueda por Código</label>
						<input type="text" class="form-control" id="busquedaPorCodigo" ng-model="tc.searchTiendaTerm" ng-model-options="{ debounce: 1500 }">
					</div>
				</div>
			</div>
			<table class="table table-striped table-productos">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Ciudad</th>
						<th>Presupuesto Global</th>
						<th>Presupuesto Tope</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="tienda in tc.tiendasFiltered">
						<td>{{tienda.codigo}}</td>
						<td>{{tienda.nombre}}</td>
						<td>{{tienda.ciudad.descripcion}}</td>
						<td>{{tienda.presupuesto_global | currency:"$ ":0}}</td>
						<td>{{tienda.presupuesto_tope | currency:"$ ":0}}</td>
						<td>
							<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modificar_tienda" ng-click="tc.setCurrentTienda(tienda)">
								Editar
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-1">
		</div>
	</div>

	<!-- Modificar el producto -->
	<div class="modal fade" id="modificar_tienda" tabindex="-1" role="dialog" aria-labelledby="modificar_tienda">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="nc-capitalize">
						{{tc.currentTienda.nombre}} <small>{{tc.currentTienda.id}}</small>
					</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="tiendacodigo">Codigo</label>
							<input type="text" class="form-control" id="tiendacodigo" placeholder="Codigo" ng-model="tc.currentTienda.codigo">
						</div>
						<div class="form-group">
							<label for="tiendanombre">Nombre</label>
							<input type="text" class="form-control" id="tiendanombre" placeholder="Nombre" ng-model="tc.currentTienda.nombre">
						</div>
						<div class="form-group">
							<label for="tiendapretope">Ciudad</label>
							<select class="form-control" ng-model="tc.currentTienda.ciudadId">
								<option ng-repeat="ciudad in tc.ciudades" ng-value="ciudad.id">{{ciudad.descripcion}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="tiendapretope">Presupuesto Tope</label>
							<input type="number" class="form-control" id="tiendapretope" placeholder="Presupuesto Tope" ng-model="tc.currentTienda.presupuesto_global">
						</div>
						<div class="form-group">
							<label for="tiendapreglobal">Presupuesto Global</label>
							<input type="number" class="form-control" id="tiendapreglobal" placeholder="Presupuesto Global" ng-model="tc.currentTienda.presupuesto_tope">
						</div>
						<button type="submit" class="btn btn-primary btn-sm" ng-click="tc.saveTienda()">Editar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
