// primary colors
$primary: #1F70C1;
$primary-darker: #1B64AD;

$alert-error: #FF181A;
$alert-danger: #FF6500;
$alert-warning: #f0ad4e;
$alert-info: #5bc0de;
$alert-success: #449d44;

$grey: grey;
$grey1: #ccc;
